# Node modules
node_modules/





# Arquivos de configuração específicos da IDE
.idea/
.vscode/
*.iml




# Diretórios de cache de pacotes
package-lock.json
yarn.lock

# Outras opções de build de debug
*.map
*.log*


